body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8e2dc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-container {
  display: flex;
}

.logout-btn {
  margin-left: auto;
}

.article-display {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

/* .article{
  display: flex;
} */

h2,
p {
  border-bottom: #d8e2dc;
  border-bottom-style: solid;
}

Button {
  margin-top: 15px;
  margin-left: 5px;
}

img {
  width: 200px;
  height: 300px;
}

.article-form {
  margin-top: 25px;
}

.article-form-title {
  margin-top: 50px;
}

.article-cards {
  margin-top: 50px;
}

.login-form-container {
  margin-top: 50px;
}
